<?xml version="1.0"?>
<launch>
    <!--px4 environment variables-->
    <env name="PX4_SIM_SPEED_FACTOR" value="1"/>
    <arg name="real_world" default="false"/>
    <node type="detector.py" name="detector" pkg="martian-mines" output="screen">
        <param name="real_world" value="$(arg real_world)"/>
        <param name="nn_model_path" value="$(find martian-mines)/nn_models/n_20ep.pt"/>
        <remap if="$(arg real_world)" from="/uav0/camera/image_raw" to="/uav0/color/image_raw"/>
    </node>

    <node name="tf_base_link_camera" pkg="tf2_ros" type="static_transform_publisher"
      args="0 0 -0.3 -1.571 0 0 base_link camera_link_custom"/> 


    <!-- launch realsense camera node -->
    <group if="$(arg real_world)">
    <include file="$(find martian-mines)/launch/realsense.launch"></include>

    <!-- launch mavros -->
    <include file="$(find mavros)/launch/px4.launch">
        <arg name="fcu_url" value="udp://:14550@localhost:14550" />
    </include>

    </group>
</launch>