<?xml version="1.0"?>
<launch>
    <!--px4 environment variables-->
    <env name="PX4_SIM_SPEED_FACTOR" value="1" />
    <arg name="real_world" default="false" />
    <arg name="config_file" default="$(find martian_mines)/config/sim.yaml" unless="$(arg real_world)"/>
    <arg name="config_file" default="$(find martian_mines)/config/real.yaml" if="$(arg real_world)"/>

    <group if="$(arg real_world)">
        <!-- launch realsense camera node -->
        <include file="$(find martian_mines)/launch/realsense.launch"></include>

        <!-- launch mavros -->
        <include ns="uav0" file="$(find mavros)/launch/px4.launch">
            <arg name="fcu_url" value="udp://:14550@localhost:14550" />
        </include>
        <rosparam param="uav0/mavros/local_position/tf/send">true</rosparam>
        <!-- tf -->
        <node name="tf_base_link_camera" pkg="tf2_ros" type="static_transform_publisher"
            args="0.18 0 -0.1 0 0 0 base_link camera_link" />
    </group>

    <group unless="$(arg real_world)">
        <node name="tf_base_link_camera" pkg="tf2_ros" type="static_transform_publisher"
            args="0 0 -0.2 -1.571 0 -1.571 cgo3_camera_link camera_link" />
        
    </group>

    <arg name="color_detection_config"
        default="$(find martian_mines)/config/color_detection_sim.json" />
    <node type="detector.py" name="detector" pkg="martian_mines" output="screen">
        <param name="config_file_path" value="$(arg config_file)" />
        <remap if="$(arg real_world)" from="/uav0/camera/image_raw" to="/uav0/color/image_raw" />
        <remap if="$(arg real_world)" from="/uav0/camera/camera_info" to="/uav0/color/camera_info" />
    </node>

</launch>