<?xml version="1.0"?>
<launch>
    <!--px4 environment variables-->
    <env name="PX4_SIM_SPEED_FACTOR" value="1"/>
    <arg name="real_world" default="false"/>
    <arg name="config_file" default="$(find martian_mines)/config/sim.yaml"/>
    <arg name="color_detection_config" default="$(find martian_mines)/config/color_detection_sim.json"/>
    <node type="detector.py" name="detector" pkg="martian_mines" output="screen">
        <param name="real_world" value="$(arg real_world)"/>
        <param name="config_file_path" value="$(arg config_file)"/>
        <param name="nn_model_path" value="$(find martian_mines)/nn_models/n_20ep.pt"/>
        <param name="color_detection_config_path" value="$(arg color_detection_config)"/>
        <remap if="$(arg real_world)" from="/uav0/camera/image_raw" to="/uav0/color/image_raw"/>
        <remap if="$(arg real_world)" from="/uav0/camera/camera_info" to="/uav0/color/camera_info"/>
    </node>
    <group unless="$(arg real_world)">
        <node name="tf_base_link_camera" pkg="tf2_ros" type="static_transform_publisher"
            args="0 0 -0.2 -1.571 0 -1.571 cgo3_camera_link camera_link"/> 
    </group>
    <!-- launch realsense camera node -->
    <group if="$(arg real_world)">
        <include file="$(find martian_mines)/launch/realsense.launch"></include>

        <!-- launch mavros -->
        <include ns="uav0" file="$(find mavros)/launch/px4.launch">
            <arg name="fcu_url" value="udp://:14550@localhost:14550" />
        </include>
        <rosparam param="uav0/mavros/local_position/tf/send">true</rosparam>
        <node name="tf_base_link_camera" pkg="tf2_ros" type="static_transform_publisher"
        args="0.18 0 -0.1 0 0 0 base_link camera_link"/> 

    </group>
</launch>