<?xml version="1.0"?>
<launch>
    <!--px4 environment variables-->
    <env name="PX4_SIM_SPEED_FACTOR" value="1" />
    <arg name="real_world" default="false" />
    <arg name="config_file" default="$(find martian_mines)/config/sim.yaml" unless="$(arg real_world)"/>
    <arg name="config_file" default="$(find martian_mines)/config/real.yaml" if="$(arg real_world)"/>
    <arg name="no_start_pose" default="false" />


    <group if="$(arg real_world)">
        <!-- launch realsense camera node -->
        <include file="$(find martian_mines)/launch/realsense.launch"></include>

        <!-- launch mavros -->
        <include ns="uav0" file="$(find mavros)/launch/px4.launch">
            <arg name="fcu_url" value="udp://:14550@localhost:14550" />
        </include>
        <rosparam param="uav0/mavros/local_position/tf/send">true</rosparam>
        <!-- tf -->
        <node name="tf_base_link_camera" pkg="tf2_ros" type="static_transform_publisher"
            args="0.18 0 -0.1 0 0 0 base_link camera_link" />
    </group>

    <group unless="$(arg real_world)">
        <node name="tf_base_link_camera" pkg="tf2_ros" type="static_transform_publisher"
            args="0 0 0 -1.571 0 -1.571 cgo3_camera_link camera_link" />
        <!-- for dev-->
        <node name="tf_uber_map" pkg="tf2_ros" type="static_transform_publisher"
        args="30.5 -18.5 0 0 0 0 map uber_map" />
    </group>

    <!-- start pose broadcaster - for development it is more comportable to run it separately-->
    <rosparam command="load" file="$(arg config_file)"/>

    <node type="tf_start_pose.py" name="start_pose_broadcaster" pkg="martian_mines" output="screen" unless="$(arg no_start_pose)"></node>
    <node ns="uav0" type="detection.py" name="detection" pkg="martian_mines" output="screen">
        <remap if="$(arg real_world)" from="/uav0/camera/image_raw" to="/uav0/color/image_raw"/>
    </node>
    <node type="figure_finder.py" name="figure_finder" pkg="martian_mines" output="screen">
        <param name="config_file_path" value="$(arg config_file)" />
        <remap if="$(arg real_world)" from="/uav0/camera/camera_info" to="/uav0/color/camera_info" />
    </node>

</launch>