<?xml version="1.0"?>
<launch>
    <group ns="uav0">
        <node type="precision_landing.py" name="precision_landing" pkg="martian_mines" output="screen"/>
        <node type="detection.py" name="detection" pkg="martian_mines" output="screen"/>
        <node type="bbox_publisher.py" name="land_on_target" pkg="martian_mines" output="screen"/>
    </group>
</launch>